@import "src/assets/mixins.scss";
@import "src/assets/colors.scss";

// @import "src/assets/mixins.scss";
// @import 'src/assets/colors.scss';

.title{
    font-weight: 700;
    font-size: 56px;
    line-height: 84px;
    color: $secondary;
}